*~
*.img
*.bin
/fat12.img
/freedos-1.0-386-just-boot-without-cd.img
/freedos-1.1-just-boot-without-cd.img
/freedos-1.2-just-boot-without-cd.img
/freedos-1.3-386-just-boot-without-cd.img
/freedos-1.3-8086-just-boot-without-cd.img
/hd1g.img
/hda.img
/hdb.img
/hdc.img
/hdd.img
/hde.img
/hdf.img
/hdg.img
/hdh.img
/hdi.img
/msdos4.img
/msdos5.img
/t.img
/windows-95-any-no-cd.img
/boot.bin
/fat16m.bin
/iboot.bin
/msd622bs.bin
/msd622bsi.bin
/boot.od
/boot.h
/boot.bin
/fat12b.bin
/bakefat
/bakefat.bin
/bakefat.exe
/bakefat.m32
/bakefat.m64
/bakefat.o
